# Dependencies
node_modules/
functions/node_modules/

# Next.js build caches
.next/
functions/.next/

# Firebase local & build artifacts
.firebase/

# Env files
.env*
functions/.env*

# Logs
*.log

# Misc OS/editor
.DS_Store
Thumbs.db

# Build outputs
dist/
out/
coverage/
